services:
  rundeck:
    image: rundeck/rundeck:4.10.0
    container_name: rundeck
    ports:
      - "4440:4440"
    environment:
      - RUNDECK_GRAILS_URL=http://localhost:4440
      - RUNDECK_DATABASE_DRIVER=org.postgresql.Driver
      - RUNDECK_DATABASE_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
      - RUNDECK_DATABASE_USERNAME=${POSTGRES_USER}
      - RUNDECK_DATABASE_PASSWORD=${POSTGRES_PASSWORD}
      - RUNDECK_PLUGINS_INSTALL=rundeck-winrm-plugin-2.1.10.jar
    volumes:
      - rundeck_data:/home/rundeck/server/data
      - rundeck_logs:/home/rundeck/var/logs
      - rundeck_projects:/home/rundeck/projects
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:13
    container_name: postgres_db
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  rundeck_data:
  rundeck_logs:
  rundeck_projects:
  postgres_data: