---
- name: Register Target Host (NTLM)
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Add Dynamic Host
      add_host:
        name: "{{ target_host }}"
        groups: deployment_targets
        ansible_user: "{{ target_username }}"
        ansible_password: "{{ target_password }}"
        ansible_connection: winrm
        ansible_port: 5985
        ansible_winrm_scheme: http
        ansible_winrm_transport: ntlm
        ansible_winrm_server_cert_validation: ignore

- name: Create Local Admin User
  hosts: deployment_targets
  gather_facts: no
  vars:
    new_username: "gap.localadm"
    new_password: "{{ new_local_admin_password }}"
  tasks:
    - name: Create User and Add to Administrators
      ansible.windows.win_user:
        name: "{{ new_username }}"
        password: "{{ new_password }}"
        state: present
        groups:
          - Administrators