---
- name: Register Target Host (NTLM)
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Add Dynamic Host
      add_host:
        name: "{{ target_host }}"
        groups: deployment_targets
        ansible_user: "{{ target_username }}"
        ansible_password: "{{ target_password }}"
        ansible_connection: winrm
        ansible_port: 5985
        ansible_winrm_scheme: http
        ansible_winrm_transport: ntlm
        ansible_winrm_server_cert_validation: ignore

- name: Enable CredSSP on Target
  hosts: deployment_targets
  gather_facts: no
  tasks:
    - name: Enable CredSSP Server Role
      win_shell: Enable-WSManCredSSP -Role Server -Force