---
- hosts: windows-desktops
  gather_facts: no
  tasks:
    - name: Ensure Chocolatey is installed
      ansible.windows.win_shell: |
        if (!(Test-Path "C:\ProgramData\chocolatey\bin\choco.exe")) {
          Set-ExecutionPolicy Bypass -Scope Process -Force
          [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072
          iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))
        }
      args:
        executable: powershell.exe

    - name: Install Google Chrome
      ansible.windows.win_shell: |
        choco install googlechrome -y --force
      args:
        executable: powershell.exe