---
- hosts: windows-desktops
  gather_facts: no
  tasks:
    - name: Ensure Chocolatey is installed (bootstrap if necessary)
      ansible.windows.win_shell: |
        Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))
      args:
        creates: C:\ProgramData\chocolatey\bin\choco.exe

    - name: Install Google Chrome using Chocolatey
      community.windows.win_chocolatey:
        name: googlechrome
        state: present