---
- hosts: windows-desktops
  gather_facts: no
  tasks:
    - name: Create temp directory
      ansible.windows.win_file:
        path: C:\temp
        state: directory

    - name: Download Google Chrome installer
      ansible.windows.win_get_url:
        url: https://dl.google.com/chrome/install/latest/chrome_installer.exe
        dest: C:\temp\chrome_installer.exe

    - name: Install Google Chrome
      ansible.windows.win_package:
        path: C:\temp\chrome_installer.exe
        arguments: /silent /install
        state: present
        product_id: '{8A69D345-D564-463c-AFF1-A69D9E530F96}'

    - name: Clean up installer
      ansible.windows.win_file:
        path: C:\temp\chrome_installer.exe
        state: absent