---
- hosts: windows-desktops
  gather_facts: no
  tasks:
    - name: Create temp directory
      ansible.windows.win_file:
        path: C:\temp
        state: directory

    - name: Download Mozilla Firefox installer
      ansible.windows.win_get_url:
        url: https://download.mozilla.org/?product=firefox-latest&os=win64&lang=en-US
        dest: C:\temp\firefox_installer.exe

    - name: Install Mozilla Firefox
      ansible.windows.win_package:
        path: C:\temp\firefox_installer.exe
        arguments: /S
        state: present
        product_id: Mozilla Firefox

    - name: Clean up installer
      ansible.windows.win_file:
        path: C:\temp\firefox_installer.exe
        state: absent