---
- name: Register Target Host from Semaphore Survey
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Add Dynamic Host
      add_host:
        name: "{{ target_host }}"
        groups: deployment_targets
        ansible_user: "{{ target_username }}"
        ansible_password: "{{ target_password }}"
        ansible_connection: winrm
        ansible_port: 5985
        ansible_winrm_scheme: http
        ansible_winrm_transport: credssp
        ansible_winrm_server_cert_validation: ignore

- name: Uninstall All Shared Printers (Global)
  hosts: deployment_targets
  gather_facts: no
  vars:
    print_server: "HVTRM-WS-PRNT.caliksoa.local"
    # List of all printers to remove
    printers_to_remove:
      - "MRK-K0-BT-Konica-224-Color"
      - "MRK-K1-Vize-Konica-C301-Color"

  tasks:
    - name: Debug Printers to Remove
      debug:
        msg: "Removing the following printers: {{ printers_to_remove }}"

    - name: Remove Printer
      win_shell: |
        rundll32 printui.dll,PrintUIEntry /gd /n"\\{{ print_server }}\{{ item }}" /q
      loop: "{{ printers_to_remove }}"
      # Ignore errors (e.g. printer not found) to ensure we try to remove all of them
      ignore_errors: yes

    - name: Restart Spooler
      # Required to refresh the UI
      win_service:
        name: Spooler
        state: restarted